<main>
    <div class = "container col">
        <div class="card my-5">
            <div class="">
                <table class="table table-hover table-striped" id="main-table">
                    <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">College ID</th>
                          <th scope="col">Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Career</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let student of students">
                            <tr>
                                <th scope="row">{{student.id}}</th>
                                <td>{{student.idCollege}}</td>
                                <td>{{student.name}}</td>
                                <td>{{student.lastName}}</td>
                                <td>{{student.phone}}</td>
                                <td>{{student.career}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-3"><button [routerLink]="['/modify', student.id]" routerLinkActive="router-link-active"  class="btn btn-sm btn-primary">Modify</button></div>
                                        <div class="col-sm-3"><button class="btn btn-sm btn-danger">Eliminate</button></div>
                                    </div>
                                </td>
                              </tr>
                        </ng-container>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
