.shadow2{
    -webkit-box-shadow: 0px 0px 31px 10px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0px 31px 10px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 31px 10px rgba(0,0,0,0.67);
}

.borderless{
    border-style: none;
}

.slogan-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    color: black;
}

.slogan-desc{
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}

.register-background{
    background-color: rgb(24, 24, 24);
}