<main>
    <div class="container-fluid">
        <div class="row mt-5">
        </div>
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="card col-md-4 mt-5 me-5 borderless float-start">
                        <div class="card-body">
                            <h5 class="card-title mt-1 slogan-title">API Mocks simple for free</h5>
                            <p class="slogan-desc">Don't wait for the bakcend to be ready, make your cutom API responses with Mocky.ly and start workin on your app</p>
                        </div>
                    </div>
                    <div class="col-md-5 mt-5 ms-5">
                        <img src="../../../assets/codeimage2.png" class="img-fluid rounded shadow2" alt="Status super cute stuff">
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row register-background">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row mx-auto">
                    <p class="col-md-4 " style="color: aliceblue;">Simple Fast Reliable</p>
                    <button type="button" class="btn btn-primary col-md-4 mx-auto">Register</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</main>
