<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mocky.lo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li *ngIf="!isAuth()" class="nav-item">
          <a href="login" class="nav-link">Login</a>
        </li>
      </ul>
      <div *ngIf="isAuth()" class="d-flex dropdown ms-auto me-5">
        <a class="nav-link dropdown-toggle dropdown-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          User
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><button class="dropdown-item" >APIs</button></li>
          <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>